.container {
  min-height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 10px;
  font-family: "Segoe UI", sans-serif;
}

/* Card for input */
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 100%;
  max-width: 420px;
  text-align: center;
}
.divdata{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-bottom: 20px;
  margin-left: 20px;
}
.two{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  margin-left:18px ;
}

.lookup-btn{
  width: 150px;
  height: 30px;
  background-color: black;
  color: white;
  margin-left: 18px;
}


/* Loader */
.loader-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.loader {
  width: 30px;
  height: 30px;
  border: 4px solid #ccc;
  border-top: 4px solid #0078d7;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Error */
.error-msg {
  color: red;
  margin-top: 10px;
}

/* Result Page */
.result-page {
  width: 100%;
  max-width: 700px;
}

.result-page p {
  font-size: 15px;
  margin: 5px 0;
}

/* Filter */
.filter-section {
  margin: 15px 0;
}
.filter-input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.grid-card {
  border: 1px solid #333;
  border-radius: 6px;
  padding: 10px 15px;
  background: #fff;
}

.grid-card p {
  font-size: 14px;
  margin: 4px 0;
}

.no-result {
  grid-column: 1 / -1;
  text-align: center;
  color: #888;
  font-style: italic;
}
